 .u-section-1 {
  background-image: linear-gradient(45deg, #f1c50e, #ff0000);
}

.u-section-1 .u-sheet-1 {
  min-height: 318px;
}

.u-section-1 .u-group-elements-1 {
  width: 260px;
  min-height: 74px;
  height: auto;
  margin: 49px 424px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 185px;
  height: 74px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: -62px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 25px;
  height: 25px;
  margin: -37px auto 0 13px;
}

.u-section-1 .u-text-1 {
  margin: -51px 425px 0 531px;
}

.u-section-1 .u-group-elements-2 {
  width: 260px;
  min-height: 74px;
  height: auto;
  margin: -51px 90px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 185px;
  height: 74px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 50px;
  height: 50px;
  margin: -62px auto 0 0;
}

.u-section-1 .u-shape-6 {
  width: 25px;
  height: 25px;
  margin: -37px auto 0 13px;
}

.u-section-1 .u-group-elements-3 {
  min-height: 74px;
  width: 260px;
  margin: -74px 86px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -51px 90px 0 867px;
}

.u-section-1 .u-group-elements-4 {
  min-height: 74px;
  width: 260px;
  height: auto;
  margin: -51px auto 0 19px;
}

.u-section-1 .u-group-elements-5 {
  width: 260px;
  min-height: 74px;
  height: auto;
  margin: -74px auto 0 49px;
}

.u-section-1 .u-shape-7 {
  width: 185px;
  height: 74px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 50px;
  height: 50px;
  margin: -62px auto 0 0;
}

.u-section-1 .u-shape-9 {
  width: 25px;
  height: 25px;
  margin: -37px auto 0 13px;
}

.u-section-1 .u-text-3 {
  margin: -51px 832px 0 124px;
}

.u-section-1 .u-shape-10 {
  width: 185px;
  height: 74px;
  background-image: none;
  margin: 72px auto 0 124px;
}

.u-section-1 .u-text-4 {
  margin: -51px 831px 0 125px;
}

.u-section-1 .u-shape-11 {
  width: 185px;
  height: 74px;
  background-image: none;
  margin: -51px 424px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -51px 424px 0 532px;
}

.u-section-1 .u-shape-12 {
  width: 50px;
  height: 50px;
  background-image: none;
  margin: -39px auto 0 49px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -41px auto 0 58px;
  padding: 0;
}

.u-section-1 .u-shape-13 {
  width: 50px;
  height: 50px;
  background-image: none;
  margin: -41px auto 0 456px;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -41px auto 60px 465px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 324px;
    margin-left: 432px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 757px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 732px;
    margin-left: 24px;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 731px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 324px;
    margin-left: 432px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 214px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 214px;
    margin-left: 322px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 124px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 356px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 356px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 355px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 124px;
    margin-left: 232px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 24px;
    margin-left: 132px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: 80px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 156px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 156px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 24px;
    margin-left: 132px;
  }

  .u-section-1 .u-shape-13 {
    margin-left: 290px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 139px;
  }
}