name: Deploy to website
'on':
  push:
    branches:
      - main
jobs:
  deploy-to-website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ARMC_WEB_E35C5 }}'
          channelId: live
          projectId: armc-web-e35c5
